.side_bar
  .side_bar__header
    .side_bar__header__topitems
      .side_bar__header__topitems__box
        .side_bar__header__topitems__box__name
          = current_user.name
      .side_bar__header__topitems__iconbox
        .side_bar__header__topitems__iconbox__icons
        = link_to new_group_path , class: "iconbox__icons" do
          = icon('fas','edit')
        .side_bar__header__topitems__iconbox__icons
        = link_to edit_user_path(current_user) , class: "iconbox__icons" do
          = icon('fas','cog')  
  .side_bar__group
    - current_user.groups.each do |group|
      .side_bar__group__message
        = link_to group_messages_path(group) do
          .side_bar__group__message__title
            = group.name
          .side_bar__group__message__text
            = group.show_last_message
